*~
*.o
*-gxml.h
*-init.h
*-ui.h
*.gmo
.deps
.intltool*
po/POTFILES
autom4te.cache
libtool
Makefile
config.h
config.status
config.log
stamp-h1
moo/marshals.c
moo/marshals.h
moo/mooapp-credits.h
moo/moofileicon-symlink.h
moo/plugins/usertools/context.xml
moo/plugins/usertools/lua-tool-setup.h
moo/plugins/usertools/menu.xml
moo/stock-moo.h
moo/medit
medit.desktop
